  <!-- add form -->
  <!-- form_for method for :post, url for post path so it can submit the post -->
  <!-- then we changed ":post, url: posts_path" to "@post" -->
  <%= form_for @post do |f| %>
    <!-- this will show any errors if there are any -->
    <% if @post.errors.any? %>
      <div id="errors">
        <!-- pluralize will pluralize the word error if there are more than 1...2,3 -->
        <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
        <ul>
          <!-- this will list all of the error messages if any -->
          <% @post.errors.full_messages.each do |msg| %>
            <!-- each individual message -->
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
    <!-- post title -->
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    </p>
    <p>
    <!-- post text -->
    <%= f.label :body %><br>
    <%= f.text_area :body %>
    </p>
    <p>
    <!-- submit button -->
    <%= f.submit "publish" %>
    </p>
    
  <% end %>